<%layout("/layouts/boilerplate")%>
<html>
<head>
    <title>Fullcalendar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <style>
        .highlight {
            background-color:#0056b3 !important;
        }
        .custom-button {
            display: block;
            margin: 5px auto;
            padding: 3rem !important;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 3px;
            text-align: center !important;
            cursor: pointer;
            z-index: 1;
            margin: auto !important;
            margin-top: 5rem !important;
        }
        .custom-button:hover {
            background-color:greenyellow;
            color: black;
        }
        .popup {
            display: none; /* Hide the popup by default */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            z-index: 2;
        }
        .popup-content {
            background: white;
            padding: 2rem;
            border-radius: 5px;
            text-align: center;
            position: relative;
            left: 40rem;
            top: 30rem;
            width: 700px !important;
            height: 400px;

        }
        .close-cross {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
        .Pay-Button1 {
            margin: auto !important;
            margin-top: 5rem !important;
            width: 40%;
            height: 10%;
            text-align: center !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="calendar"></div>
    </div>
    <br>
    <div class="popup">
        <div class="popup-content">
            <div class="close-cross"><i class="fa-regular fa-circle-xmark"></i></div>
            <h2 style="text-align: center;">Available Tickets &nbsp; <i class="fa-solid fa-ticket"></i></h2>
            <br>
            <h3 style="text-align: center;">(<%=result.name%>)</h3>
            <br><br><br>
            <table style="border-collapse: collapse; width: 100%;">
                <thead>
                    <tr>
                        <th style="border: 1px solid black; padding: 8px;">Type</th>
                        <th style="border: 1px solid black; padding: 8px;">Available</th>
                        <th style="border: 1px solid black; padding: 8px;">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border: 1px solid black; padding: 8px;">VIP</td>
                        <td style="border: 1px solid black; padding: 8px;"><%=result.seats[0].availability%></td>
                        <td style="border: 1px solid black; padding: 8px;"><%=result.seats[0].price%></td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; padding: 8px;">Standard</td>
                        <td style="border: 1px solid black; padding: 8px;"><%=result.seats[1].availability%></td>
                        <td style="border: 1px solid black; padding: 8px;"><%=result.seats[1].price%></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <label for="VIP">VIP</label>
            <input type="radio" name="ticketType" id="VIP" value="VIP">
            &nbsp;&nbsp;
            <label for="Standard">Standard</label>
            <input type="radio" name="ticketType" id="Standard" value="Standard" checked>
            <div>
                <h3 style="display: inline-block;">How many tickets?</h3>
                <span>
                    <select name="ticketQuantity" id="ticketQuantity">
                        <% for(let i = 1; i <= 10; i++) { %>
                            <option value="<%= i %>"><%= i %></option>
                        <% } %>
                    </select>
                </span>
            </div>
            <button class="custom-button Pay-Button1" id="rzp-button1">Pay</button>
            <div style="color: red;">* Please Use Razorpay Test masterCards as it is in test mode</div>
        </div>
    </div>
    <script>
         
      const socket = io();
 
       let result=`<%=result._id%>`;

        $(document).ready(function() {
            
            let dateNow = "<%=result.date%>";
            let date = new Date(dateNow);
            let year = date.getFullYear();
            let month = ('0' + (date.getMonth() + 1)).slice(-2);
            let day = ('0' + date.getDate()).slice(-2);
            let formattedDate = `${year}-${month}-${day}`;
            let $popup = $(".popup");
            let preDecidedDate = formattedDate; 

            $('#calendar').fullCalendar({
               
                defaultDate: preDecidedDate, 
                dayRender: function(date, cell) {
                    if (date.format() === preDecidedDate) {
                        cell.addClass('highlight');
                        let button = $('<button class="custom-button"><h5>Get Ticket</h5></button>');
                        cell.append(button);
                        button.on("click", function() {
                           $popup.show();
                        });
                    }
                }
            });

            $(".close-cross").on("click", function() {
                $popup.hide();
            });

            $(".Pay-Button1").on("click", function() {
                let selectedValue = $("input[name='ticketType']:checked").val();
                let ticketCount = $("#ticketQuantity").val();

                console.log(`ticketCount: ${ticketCount}`);
                console.log(`ticketType: ${selectedValue}`);
                
                    
                 

                axios.post("/event/<%=result._id%>/book/getTicket", { tickets: ticketCount,ticketType:selectedValue })
                    .then((info) => {
                        console.log(info);
                      

                        var options = {
                            "key": "rzp_test_ZsQ10yKgHqSgCi",
                            "currency": "INR",
                            "name": "Tune Tickets",
                            "description": "Test Transaction",
                            "image": "https://example.com/your_logo",
                            "order_id": info.data.id,
                            "callback_url":`/dashboard/${result}/${selectedValue}/${ticketCount}`,
                            "prefill": {
                                "name": "Gaurav Kumar",
                                "email": "gaurav.kumar@example.com",
                                "contact": "9000090000"
                            },
                            "notes": {
                                "address": "Razorpay Corporate Office"
                            },
                            "theme": {
                                "color": "#3399cc"
                            }
                        };

                        var rzp1 = new Razorpay(options);
                        rzp1.open();
                    })
                    .catch((error) => {
                        console.error(error);
                    });
            });



            // SOCKET
            socket.on('seatBooked', (data) => {
                console.log('Seat booked:', data);
                // Update the UI to reflect the booked seat
                updateSeatTable(data.eventId, data.seatId, data.quantity);
            });


            function updateSeatTable(eventId, seatId, quantity) {
                // You might need to adjust this part based on your seat structure
                $(`#seat-${seatId} .availability`).text(quantity);
            }



        });
    </script>
</body>
</html>


